* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body {
    background-color: #131414;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    background-color: #ffffff;
    color: #41444B;
    text-align: center;
    padding: 10px;
}
a:link {
    color: #d5daff;
    text-decoration: italic, underline;
}

a:visited {
    color: #ff7d86;
}

a:hover {
    color: #FACE7F;
    text-decoration: bold, underline;
}